---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('tools')).sort(
	(b) => b.data.title.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>Toolbase</h1>
				<hr>
				<table class="tools">
					<tr>
						<th>Title</th>
						<th>Target Plattform</th>
						<th>Version</th>
						<th>Details</th>
					</tr>
					{
						posts.map((post) => (
							<tr>
								<td>
									<b>{post.data.title}</b>
								</td>
								<td>
									{post.data.target}
								</td>
								<td>
									{post.data.version}
								</td>
								<td>
									<a href={`tools/${post.id}/`}>
										More Details
									</a>
								</td>
							</tr>
						))
					}
				</table>
			</section>
		</main>
		<Footer />
	</body>
</html>
